main {

  #results {
    overflow: auto;
  }

  .agent {
    border: 1px solid #333;
    margin: 10px;
    overflow: auto;
    padding: 10px;

    .agent-name {
      font-weight: bold;
      font-size: larger;
    }

    .pi {
      float: left;
      width: 150px;
    }

    .stats {
      float: left;
    }
  }
}