body {

  .content {
    margin: 0 auto;
    padding: 0 35px;
  }

  fieldset {
    border: none;
  }

  h1 {

  }

  h3 {

  }

  header {
    h1 {
      text-align: center;
    }
  }

  main {

  }

  footer {
    text-align: center;
    width: 100%;
  }

  .agent {
    .name, .brokerage {
      text-align: center;
      font-weight: bold;
    }
    .name {
      font-size: larger;
    }
    .portrait {
      img {
        border-radius: 50%;
      }
    }
    .stats {
      .price-stats, .type-stats {
        b {
          float: left;
        }
        ul {
          list-style-type: none;
          columns: 3;
        }
      }
    }
  }


}